@model SM_Restaurants
@{
    ViewData["Title"] = "Login";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
    <meta name="Keywords"
          content="admin,admin dashboard,admin dashboard template,admin panel template,admin template,admin theme,bootstrap 4 admin template,bootstrap 4 dashboard,bootstrap admin,bootstrap admin dashboard,bootstrap admin panel,bootstrap admin template,bootstrap admin theme,bootstrap dashboard,bootstrap form template,bootstrap panel,bootstrap ui kit,dashboard bootstrap 4,dashboard design,dashboard html,dashboard template,dashboard ui kit,envato templates,flat ui,html,html and css templates,html dashboard template,html5,jquery html,premium,premium quality,sidebar bootstrap 4,template admin bootstrap 4" />

    <!-- Title -->
    <title> @ViewData["Title"] - Cacaoo </title>

    <!-- Favicon -->
    @*<link rel="icon" href="~/assets/img/logo/favicon.png" type="image/x-icon" />*@
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/frontend/images/favicon.png">

    <!-- Icons css -->
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <!-- Bootstrap css -->
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- style css -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!--- Animations css-->
    <link href="~/assets/css/animate.css" rel="stylesheet">

</head>

<body class="ltr error-page1 main-body bg-light text-dark error-3">


    <!-- Loader -->
    <div id="global-loader">
        <img src="~/assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <!-- Page -->
    <div class="page">

        <div class="main-container container-fluid">
            <div class="row no-gutter">
                <!-- The image half -->
                <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex">
                    <div class="row wd-100p mx-auto text-center">
                        <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
                            <img src="~/assets/img/logo/cacaoo_logo.jpeg"
                                 class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                        </div>
                    </div>
                </div>
                <!-- The content half -->
                <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
                    <div class="login d-flex align-items-center py-2">
                        <!-- Demo content-->
                        <div class="container p-0">
                            <div class="row">
                                <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                    <div class="card-sigin">
                                        <div class="mb-5 d-flex">
                                            <a href="index.html">
                                                @*<img src="~/assets/img/brand/favicon.png"
                                                class="sign-favicon-a ht-40" alt="logo">
                                                <img src="~/assets/img/brand/favicon-white.png"
                                                class="sign-favicon-b ht-40" alt="logo">*@
                                                <img src="~/assets/img/logo/cacaoo_logo_half.png" class="sign-favicon-a" alt="logo">
                                            </a>
                                            @* <h1 class="main-logo1 ms-1 me-0 my-auto tx-28">Ben<span>ay</span>aat</h1>*@
                                        </div>
                                        <div class="card-sigin">
                                            <div class="main-signup-header">
                                                <h2>Welcome Merchant!</h2>
                                                <h5 class="fw-semibold mb-4">Please sign in to continue.</h5>
                                                <form method="post">
                                                    <div class="form-group">
                                                        @*<label>Username</label>*@
                                                        @await Component.InvokeAsync("UCLabel",new{labelId = 1})
                                                        <input asp-for="Username" class="form-control" placeholder="Enter your username" type="text">
                                                        <span asp-validation-for="Username"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        @* <label>Password</label>*@
                                                        @await Component.InvokeAsync("UCLabel",new{labelId = 2})
                                                        <input asp-for="Password" class="form-control" placeholder="Enter your password" type="password">
                                                        <span asp-validation-for="Password"></span>
                                                    </div>
                                                   
                                                    @*<button type="submit" class="btn btn-main-primary btn-block">Sign In </button>*@
                                                    @await Component.InvokeAsync("UCLabel",new{labelId = 9,cssClass="btn btn-main-primary btn-block",userControlType="Button"})
                                                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End -->
                    </div>
                </div><!-- End -->
            </div>
        </div>

    </div>
    <!-- End Page -->
    <!-- JQuery min js -->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Moment js -->
    <script src="~/assets/plugins/moment/moment.js"></script>

    <!-- P-scroll js -->
    <script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- eva-icons js -->
    <script src="~/assets/js/eva-icons.min.js"></script>

    <!-- Rating js-->
    <script src="~/assets/plugins/ratings-2/jquery.star-rating.js"></script>
    <script src="~/assets/plugins/ratings-2/star-rating.js"></script>

    <!--themecolor js-->
    <script src="~/assets/js/themecolor.js"></script>

    <!-- custom js -->
    <script src="~/assets/js/custom.js"></script>

</body>

</html>